@model IEnumerable<Looksmaxxing.Models.Sigmas.SigmaIndexViewModel>

    @{ int rowNumber = 1; }
    <div>
        <a asp-action="Add" asp-controller="Sigmas" type="submit" class="btn btn-primary">Go on mission to get new Sigma</a>

        <a asp-action="Create" asp-controller="Sigmas" type="submit" class="btn btn-primary">Create new Sigma</a>
    </div>
    
    

    <div class="h1">Your Sigmas:</div>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    @* Later, once images have been implemented, add image here aswell*@
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Level</th>
                    <th scope="col">Admin Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var sigma in Model)
            {
               <tr>
                   @* Later, once images have been implemented, add image here aswell*@
                   <td>@rowNumber</td>
                   <td>@sigma.SigmaName</td>
                   <td>@sigma.SigmaType</td>
                   <td>@sigma.SigmaLevel</td>
                   <td>
                       <a asp-action="details" asp-controller="sigmas" asp-route-id="@sigma.Id" class="btn btn-info">SigmaDetails</a>
                   </td>
                </tr>
                rowNumber++;
            }
        </tbody>
        </table>
    </form>
    @* Missing button for player profile *@
    @* Missing button for Sigma page *@
    @* Missing button for player activity history*@