@model IEnumerable<Looksmaxxing.Models.Cities.IndexViewModel>
@{
	int rowNumber = 1;
}
<div><a asp-action="Create" asp-controller="realms" class="btn btn-primary">Create a new city</a></div>
<div class="h1">Cities:</div>

<form method="post">
	<table class="table">
		<thead>
			<tr>
				<th @Html.DisplayNameFor(model => model.ID)</th>
				<th @Html.DisplayNameFor(model => model.Name)</th>
				<th @Html.DisplayNameFor(model => model.Difficulty)</th>
				<th @Html.DisplayNameFor(model => model.SigmaLevelRequirement)</th>
				<th>Available actions:</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var city in Model)
			{
				<tr>
					<td>@city.ID</td>
					<td>@city.Name</td>
					<td>@city.Difficulty</td>
					<td>@city.SigmaLevelRequirement</td>
					<td>
						<a asp-action="details" asp-route-id="@city.ID" class="btn btn-info">Details</a>
						<a asp-action="update" asp-route-id="@city.ID" class="btn btn-info">Update</a>
						<a asp-action="delete" asp-route-id="@city.ID" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				rowNumber++;
			}
		</tbody>
	</table>
</form>